html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}



img {
    display: inline-block;
    max-width: 100%;
}
html ul{
    list-style-type: none;
}

html a {    
    text-decoration: none;
}

button {
    text-transform: uppercase;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper2 {
    width: 70%;
    margin: 0 auto;
}

header {
    background-image: url(./image-1@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 760px;
    position: relative;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 0px 0px 0px;
    text-align: center;
}

header nav ul li {
    list-style-type: none;
    display: inline;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

header nav a {
    font-family: 'Nova Flat', cursive;
    font-size: 20px;
    color: #186684;
}

header a:hover {
    color: #E85B26;
}

header h1 {
    font-family: 'Nova Flat', cursive;
    font-size: 100px;
    color: #186684;
    position: absolute;
    left: 46%;
    background-color: rgba(227, 228, 234, 0.5);
    padding: 10px;
    border-radius: 10px;
}

header .social-apps {
    position: relative;
    top: 20%;
}

.social-apps li {
    color: #E85B26;
    padding-right: 40px;
    padding-bottom: 10px;
    text-align: right;
}

header .social-apps a {
    color: #E85B26;
    padding-bottom: 2px;
}

header .social-apps a:hover {
    color: #186684;
}

.layer-one {
    height: 571px;
}

.left-box1 {
    float: left;
    width: 50%;
}

.right-box1 {
    float: right;
    width: 50%;
}

.layer-one h2 {
    font-family: 'Nova Flat', cursive;
    font-size: 42px;
    color: #186684;
    margin-top: 150px;
}

.layer-one p,
.layer-two p,
.layer-three p {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}

.layer-one h2,
.layer-one p{
    margin-left: 15%;
    width: 70%;
}

.layer-one button,
.layer-two button,
.layer-three button {
    font-family: 'Nova Flat', cursive;
    font-size: 24px;
    color: #186684;
    margin-left: 15%;
    background-color: white;
    border: 2px solid #e85b26;
    margin-top: 10px;
    width: 170px;
    height: 45px;
}

.layer-one button:hover,
.layer-two button:hover,
.layer-three button:hover {
    background-color: #E85B26;
    color: white;
}

.layer-two {
    height: 571px;
}

.left-box2 {
    float: left;
    width: 50%;
}

.right-box2 {
    float: right;
    width: 50%;
}

.layer-two h2,
.layer-two p {
    margin-left: 15%;
    width: 70%;
}

.layer-two h2 {
    font-family: 'Nova Flat', cursive;
    font-size: 42px;
    color: #186684;
    margin-top: 150px;
}

.layer-three {
    background-color: #f4f4f4;
    height: 436px;
}

.layer-three h2,
.layer-three p {
    margin-left: 31%; 
}  

.layer-three img {
    float: left;
    width: 20%;
    margin-top: 4%;
    margin-left: 8%;
}

.layer-three h2 {
    font-family: 'Nova Flat', cursive;
    font-size: 42px;
    color: #186684;
    padding-top: 4%;
    margin-top: 4px;
}

.layer-three p {
    width: 60%;
}

.layer-three button {
    font-family: 'Nova Flat', cursive;
    font-size: 24px;
    color: #186684;
    margin-left: 3%;
}

.links {
    background-image: url(./image-5@2x.png);
    background-repeat: no-repeat;
    height: 500px;
    background-size: contain;
    padding-top: 6%;
}

.links-box {
    background-color: #e3e4ea;
    height: 70%;
    width: 42%;
    margin: 0 auto;
    padding-left: 3%;
}

.links ul {
    display: inline;
}

.links i {
    color: #E85B26;
    margin-right: 0%;
    margin-top: 13%;
    padding: 2% 8%;
    padding-left: 13%;
}

.links li {
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    color: #186684;
    font-weight: 600;
    display: inline;
    padding-right: 5%;
}

.button1, .button2, .button3 {
    width: calc(30% - 10px);
}

.links-list a {
    color: #186684;
}

.links-list a:hover {
    color: #E85B26;
}

.thegram img {
    width: calc(30% - -15px);
    margin: 1%;
    margin-bottom: 6%;
}

.thegram > h2:nth-child(1) {
    font-size: 50px;
    font-family: 'Nova Flat', cursive;
    text-align: center;
    color: #186684;
}

.box-color {
    background-color: #f4f4f4;
    padding-top: 61px;
}

footer .contact-left { 
    float: left;
    width: 50%;
    padding-bottom: 86px;
}

footer .contact-right {
    float: right;
    width: 50%;
    padding-bottom: 93px;
} 

footer h2 {
    font-family: 'Nova Flat', cursive;
    font-size: 42px;
    color: #E85B26;
}

.contact-left h2 {
    margin-bottom: 1%;
}

.contact-right h2 {
    margin-bottom: -2%;
}

.contact-left,
.contact-right {
    background-color: #f4f4f4;
    margin-top: -1%;
}

.contact-left p,
.contact-right p {
    color: #1f2022;
    font-family: 'Nova Flat', cursive;
    text-align: left;
    background-color: #f4f4f4;
}

.contact-left p {
    margin-top: 3px;
    margin-left: 20%;
    margin-bottom: 3px;
    margin-right: 0;
    padding-left: 20%;
}

.contact-left p span {
    display: block;
}

.contact-left h2 {
    margin-left: 20%;
}

.contact-right form {
    float: left;
}

footer button, input {
    line-height: 2.0;
}


.bottom ul {
    margin-left: 35%;
}

footer nav li {
    display: inline;
}

footer nav a {
    color: black;
    font-size: 24px;
    padding: 0 11px;
}

footer nav a:hover,
footer nav a:focus {
    color: #E85B26;
}

footer li {
    font-family: 'Nova Flat', cursive;
    font-size: 18px;
    color: #1f2022;
}

footer button {
    text-transform: uppercase;
    font-family: 'Nova Flat', cursive;
    color: #f4f4f4;
    background-color: #186684;
    border: 3px solid #e85b26;
}

footer button:hover {
    background-color: #e85b26;
}

footer p {
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
    float: inline-end;
}

.copyright p {
    line-height: 2;
    margin-top: 0%;
    margin-bottom: 0%;
}